development:
  type: logger
  amqp_url: 'amqp://guest:guest@127.0.0.1:5672'
  exchange: guest.example
  user: guest
  pass: guest
  host: 127.0.0.1
  vhost: testing
  port: 999
  heartbeat: 10

test:
  type: logger

staging:
  type: logger

production:
  type: logger
