# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: ead171aef4abd50c0cea8d95823e929f892e8466ec65c541973765c4fbb2ad4691bf60f028cd1ca28c6d66700e717c3dc1bb7c66dde009d843b68f66fdb30566

test:
  secret_key_base: 6cdd0e11addfcb4e22b0a2194dd0fb5c6885dd1a8c86e9a0f879f3829094439ee952d6696460cda5e92dbb723d4e809ab3f2447ce4b11b89527695858379c250

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
