<h2>Work Orders</h2>
<table>
  <th>Sample Name</th>
  <th>State</th>
  <th>&nbsp;</th>
  <% work_orders.each do |work_order| %>
    <tr id="<%= dom_id(work_order) %>">
      <td><%= work_order.sample_name %></td>
      <td><%= work_order.state %></td>
      <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
    </tr>
  <% end %>
</table>
