<section>
  <div>
    Name: <%= aliquot.name %>
  </div>
  <div>
    Concentration: <%= aliquot.concentration %>
  </div>
  <div>
    Fragment size: <%= aliquot.fragment_size %>
  </div>
  <div>
    QC state: <%= aliquot.qc_state %>
  </div>
</section>