html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

header {
  height: 50px;
  margin-bottom: 20px;
  padding: 5px;

  a {
    color: white;

    &:hover, &:visited{
      color: white;
    }
  }
}

footer {
  width: 100%;
  padding: 5px;
  border: {
    color: black;
    style: solid;
    width: 1px 0 0 0;
  }
}

.heading {
  padding: 5px;
}

nav {
  position: relative;
  top: -30px;
}