<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div>
      <%= link_to 'TRACTION', root_path %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Work Orders", work_orders_path %></li>
      </ul>
    </div>
  </nav>
</header>