<nav>
  <div>
    <ul class="float-sm-right">
      <li><%= link_to "Reception", pipeline_reception_path(pipeline) %></li>
      <li><%= link_to "Work Orders", pipeline_work_orders_path(pipeline) %></li>
      <% pipeline.visible_process_steps.each do |process_step|%>
        <li><%= link_to process_step.name.humanize, pipeline_work_orders_path(pipeline, process_step_name: process_step.name) %></li>
      <% end %>
      <li><%= link_to "Sequencing Runs", pipeline_sequencing_runs_path(pipeline) %></li>
    </ul>
  </div>
</nav>
